Import Libaries

In [59]:
import pandas as pd
import numpy as np

In [60]:
data = pd.read_csv("swiv.csv")

In [61]:
data.head()

       name                                             phrase  numberOfWords
0  THREEPIO  Did you hear that? They've shut down the main ...             18
1  THREEPIO                                      We're doomed!              2
2  THREEPIO  There'll be no escape for the Princess this time.              9
3  THREEPIO                                       What's that?              2
4  THREEPIO  I should have known better than to trust the l...             16

How many times does an actor say something?

In [84]:
actor_names = data['name'].value_counts()
top_actor_names = actor_names.head(12)
print(top_actor_names)

LUKE          267
HAN           162
THREEPIO      121
BEN            75
LEIA           66
VADER          43
BIGGS          39
RED LEADER     37
TARKIN         30
OWEN           25
TROOPER        19
WEDGE          16
Name: name, dtype: int64

In [91]:
top_actor_names = top_actor_names.drop(['RED LEADER','TROOPER'], axis=0)

In [92]:
actorDF = pd.DataFrame()
indexList=[]

actorDF['actor'] = top_actor_names.index
for i in range(len(top_actor_names)):
    indexList.append(top_actor_names.iloc[i])
    
indexDF = pd.DataFrame(indexList)  
actorDF['timesSpoken'] = indexDF

In [93]:
actorDF

      actor  timesSpoken
0      LUKE          267
1       HAN          162
2  THREEPIO          121
3       BEN           75
4      LEIA           66
5     VADER           43
6     BIGGS           39
7    TARKIN           30
8      OWEN           25
9     WEDGE           16

In [94]:
#access name via index 
print(top_actor_names.index[0])
# access number of mentioned name via iloc
print(top_actor_names.iloc[0])

LUKE
267

Add gender column

In [99]:
gender = []
gender.append('male')
gender.append('male')
gender.append('none')
gender.append('male')
gender.append('female')
gender.append('male')
gender.append('male')
gender.append('male')
gender.append('male')
gender.append('male')
genderDF = pd.DataFrame(gender)
actorDF['gender'] = genderDF

In [100]:
print(actorDF)

      actor  timesSpoken  gender  numberOfWords
0      LUKE          267    male           2665
1       HAN          162    male           1936
2  THREEPIO          121    none           1535
3       BEN           75    male            996
4      LEIA           66  female            796
5     VADER           43    male            516
6     BIGGS           39    male            603
7    TARKIN           30    male            434
8      OWEN           25    male            317
9     WEDGE           16    male            102

How many words does each of the top actors say?

In [101]:
top_actors_count = len(top_actor_names)
numberList = [] 

for i in range(len(top_actor_names)):
    indexActor = top_actor_names.index[i]
    nameActor = data[data['name']==indexActor]
    numberList.append(nameActor['numberOfWords'].sum())
    
    
numberDF = pd.DataFrame(numberList)
actorDF['numberOfWords'] = numberDF

In [102]:
actorDF

      actor  timesSpoken  gender  numberOfWords
0      LUKE          267    male           2665
1       HAN          162    male           1936
2  THREEPIO          121    none           1535
3       BEN           75    male            996
4      LEIA           66  female            796
5     VADER           43    male            516
6     BIGGS           39    male            603
7    TARKIN           30    male            434
8      OWEN           25    male            317
9     WEDGE           16    male            102