Import Libaries

In [85]:
import pandas as pd
import numpy as np

In [86]:
data = pd.read_csv("swiv.csv")

In [87]:
data.head()

       name                                             phrase  numberOfWords
0  THREEPIO  Did you hear that? They've shut down the main ...             18
1  THREEPIO                                      We're doomed!              2
2  THREEPIO  There'll be no escape for the Princess this time.              9
3  THREEPIO                                       What's that?              2
4  THREEPIO  I should have known better than to trust the l...             16

How many times does an actor say something?

In [104]:
actor_names = data['name'].value_counts()
top_actor_names = actor_names.head(5)
top_actor_names

LUKE        267
HAN         162
THREEPIO    121
BEN          75
LEIA         66
Name: name, dtype: int64

In [91]:
type(top_actor_names)

pandas.core.series.Series

In [92]:
actorDF = pd.DataFrame()
indexList=[]

actorDF['actor'] = top_actor_names.index
for i in range(len(top_actor_names)):
    indexList.append(top_actor_names.iloc[i])
    
indexDF = pd.DataFrame(indexList)  
actorDF['timesSpoken'] = indexDF

In [93]:
actorDF

      actor  timesSpoken
0      LUKE          267
1       HAN          162
2  THREEPIO          121
3       BEN           75
4      LEIA           66

In [81]:
#access name via index 
print(top_actor_names.index[0])
# access number of mentioned name via iloc
print(top_actor_names.iloc[0])

LUKE
267

How many words does each of the top actors say?

In [96]:
top_actors_count = len(top_actor_names)
numberList = [] 

for i in range(len(top_actor_names)):
    indexActor = top_actor_names.index[i]
    nameActor = data[data['name']==indexActor]
    numberList.append(nameActor['numberOfWords'].sum())
    
    
numberDF = pd.DataFrame(numberList)
actorDF['numberOfWords'] = numberDF

In [97]:
actorDF

      actor  timesSpoken  numberOfWords
0      LUKE          267           2665
1       HAN          162           1936
2  THREEPIO          121           1535
3       BEN           75            996
4      LEIA           66            796

2665